<html>
<head>
	<title>Test Page</title>
	<style>
	body {font-family: Verdana, sans-serif;}
	</style>
</head>


<center>
<h1>Random n-Digit Number Generator</h1>
<p style="font-size:5vw;" id="numberHolder"> {{randomNumber}} <br> </p>
<p> Enter the number of digits you want to have randomized. This value can be from 1 to 15.</p>
Digits: <input type="text" id="numDigits" value="6">

<button type="button" onclick="reroll()">Reroll</button>
</center>
</body>
</html>

<script type="text/javascript" src="js/randnum_gen.js"></script>
